:host {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
}

.variable {
  background-color: var(--primary-color);
}

.green {
  background-color: #00bd11;
}

.gradient {
  background: linear-gradient(to bottom, #005aff, #de00ff);
}

.sea {
  background: url('../assets/img.png');
  background-size: cover;
}
